body {
  margin: 0;
  padding: 0;
  background: #fffafc;
  font-family: Julius Sans One;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-image {
  position: absolute;
  top: 52.5%;
  left: 72.5%;
  transform: translate(-50%, -50%);
  z-index: -1;
  max-width: 50%;
  height: auto;
}

#typewriter {
  text-align: left;
  position: absolute;
  left: 15%;
  top: 4%;
  transform: translateX(-50%);
  font-size: 25px;
  user-select: none;
  white-space: pre-line;
}

.timer {
  position: absolute;
  top: 50%;
  left: 89.75%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  user-select: none;
  white-space: pre-line;
}

audio {
  display: none;
}

#audioToggle {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 5.5%;
  top: 90%;
}